<div id="html-container">
  <div><a href="/">Go to index</a></div>
  <div><a class="active" href="/page2">Go to page2</a></div>
  <div><a href="/page3">Go to page3</a></div>
  <div>This is the PAGE2 page!!!</div>
</div>

<% if(!params[:hideRadio])  %>
   <div id="radio">
     <div id="activate">Activate Radio</div>
     <iframe src="https://app.stitcher.com/splayer/f/5556" />
   </div>
<% end %>
